.appContainer {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Comic Sans', sans-serif;
  background-color: #eceae0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  color: #181818;
  margin-bottom: 24px;
}

.userList {
  list-style: none;
  padding: 0;
}

.userItem {
  padding: 10px 16px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: background-color 0.2s;
}

.userID {
  font-weight: bold;
  color: #e6a901;
}

span {
  color: #555;
}

.crudContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.crudContainer input{
  width: 150px;
  height: 30px;
}

#crudButtonContainer{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

#crudButtonContainer button{
  width: 150px;
  height: 50px;
}

#addUser{
  background-color: lightgreen;
}

#removeUser{
  background-color: lightsalmon;
}
